

<h1 class="text-center font-bold text-5x1 mt-10">Features</h1>

<div class="grid grid-cols-3 gap-4 p-4">
    
    <div class="bg-slate-800 p-10 rounded-xl">
        <h1>tarjeta1</h1>
        <p>esta es una tarjeta</p>
    </div>

    <div class="bg-slate-800 p-10 rounded-xl">
        <h1>tarjeta1</h1>
        <p>esta es una tarjeta</p>
    </div>

    <div class="bg-slate-800 p-10 rounded-xl">
        <h1>tarjeta1</h1>
        <p>esta es una tarjeta</p>
    </div>

    <div class="bg-slate-800 p-10 rounded-xl">
        <h1>tarjeta1</h1>
        <p>esta es una tarjeta</p>
    </div>


</div>