<section>
    <div>
        <div>
            <img src="favicon.svg" class="w-20 m-auto">
            <p class="mt-4">Dev manage</p>
        </div>

        <div>
            <img src="favicon.svg" class="w-20 m-auto">
            <p class="mt-4">Dev manage</p>
        </div>

        <div>
            <img src="favicon.svg" class="w-20 m-auto">
            <p class="mt-4">Dev manage</p>
        </div>

        <div>
            <img src="favicon.svg" class="w-20 m-auto">
            <p class="mt-4">Dev manage</p>
        </div>

        <div>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita adipisci molestias soluta, asperiores neque magni perferendis rem ipsum enim exercitationem?</p>
        </div>
    </div>
</section>